.contractInit{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

input{
  display: block;
  padding: 4px;
  margin: 4px;
}

.app{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100vw;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

label{
  font-size: 10px;
}

.switchToBSC{
  margin: 20px;
  font-size: 12px;
}
